<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="IRC.Channel" value="#intel" />
    <add key="IRC.Server.HostName" value="irc.rizon.net" />
    <add key="IRC.Server.Port" value="6667" />
    <add key="IRC.User.NickName" value="speech" />
    <add key="IRC.User.RealName" value="speech" />
    <add key="IRC.User.UserName" value="speech" />
    <add key="XDCC.SearchEngine.BaseUrl" value="http://intel.haruhichan.com/" />
    <add key="XDCC.SearchEngine.SearchTerm" value="DanMachi 480p 08 HorribleSubs" />
  </appSettings>
</configuration>